.login-section {
    height: 400px;
    width: 20%;
    background-color: #00f;
}
.table-login td {
    padding: 9px 5px;
}
.btn-login {
    display: block;
    width: 100%;
    background-color: #78f;
    color: white;
    border: none;
    padding: 9px 0;
    text-align: center;
    text-decoration: none;
}
.btn-signup {
    display: block;
    width: 100%;
    background-color: #78f;
    color: white;
    border: none;
    padding: 9px 0;
    text-align: center;
    text-decoration: none;
}