.div-read-post {
    margin: 0 auto;
    width: 1200px;
    border: 1px solid #eee;
    padding: 20px;
}
.div-read-post::after {
    content: '';
    display: block;
    clear: both;
}
.div-read-post div {
    margin-bottom: 20px;
}
.post-date div {
    margin: 0;
}
.post-category a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.post-author a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.post-write-info::after {
    content: '';
    display: block;
    clear: both;
}
.div-post-comment {
    margin: 0 auto;
    width: 1230px;
    padding: 20px;
}
.div-post-comment::after {
    content: '';
    display: block;
    clear: both;
}
.textarea-comment {
    margin: 0px;
    width: 1150px;
    height: 45px;
}