<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <div class="container">
        <th:block th:insert="fragment/header :: headerFragment"></th:block>
        <div class="middle">
            <div class="middle-left fl">
                <th:block th:insert="component/category :: categoryComponent"></th:block>
            </div>
            <div class="middle-right fr">
                <th:block th:insert="component/board :: boardComponent"></th:block>
                <div th:if="${email == null}">
                    <th:block th:insert="component/login-section :: loginSectionComponent"></th:block>
                </div>
                <div th:if="${email != null}">
                    <th:block th:insert="component/user-info-section :: userInfoSectionComponent"></th:block>
                </div>
            </div>
        </div>
        <th:block th:insert="fragment/footer :: footerFragment"></th:block>
    </div>

    <script src="/js/index.js"></script>
</body>
</html>