<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new post</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link rel="stylesheet" href="/css/new-post.css" type="text/css">
    <script src="/js/new-post.js"></script>
    <script src="/js/post.js"></script>
    <div class="container">
        <th:block th:insert="fragment/header :: headerFragment"></th:block>
        <div class="div-new-post">
            <h2>글 작성</h2>
            <div class="new-post-category">
                <h3>카테고리</h3>
                <select name="category" class="select-category-name"></select>
            </div>
            <div class="new-post-title">
                <h3>제목</h3>
                <input class="text-title" type="text" name="title" size="180">
            </div>
            <div class="new-post-content">
                <h3>내용</h3>
                <textarea name="content" class="textarea-content" rows="50" cols="180"></textarea>
            </div>
            <div class="new-post-button">
                <a href="/" class="a-btn-small btn-cancel fr" onclick="btnCancel()">취소</a>
                <a href="#" class="a-btn-small btn-create fr" onclick="savePost()">저장</a>
            </div>
        </div>
        <th:block th:insert="fragment/footer :: footerFragment"></th:block>
    </div>
</body>
</html>