<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new post</title>
    <style>
        .div-new-comment::after {
            content: '';
            display: block;
            clear: both;
        }
        .ul-comment-list {
            padding: 0;
        }
        .comment-item {
            list-style: none;
            padding-top: 20px;
        }
        .comment-item::after {
            content: '';
            display: block;
            clear: both;
        }
        .comment-item-left {
            padding-right: 50px;
        }
    </style>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/index.css" type="text/css">
    <link rel="stylesheet" href="/css/read-post.css" type="text/css">
    <div class="container">
        <th:block th:insert="fragment/header :: headerFragment"></th:block>
        <div class="div-read-post">
            <h2 class="post-title">제목</h2>
            <hr>
            <div class="post-category"><a href="#">카테고리</a></div>
            <div class="post-write-info">
                <div class="post-author fl"><a class="link-profile"></a></div>
                <div class="post-date fr" style="text-align: right">
                    <div class="post-createdDate">created: </div>
                    <div class="post-modifiedDate">modified: </div>
                </div>
            </div>
            <div class="read-post-content">
                <h3>내용</h3>
                <div class="post-content">content</div>
            </div>
            <div class="read-post-button">
                <a href="#" class="a-btn-small btn-remove fr" onclick="removePost()">삭제</a>
                <a href="#" class="a-btn-small btn-edit fr" onclick="showModal('update')">수정</a>
            </div>
        </div>
        <div class="div-post-comment">
            <h3>댓글</h3>
            <div class="div-new-comment">
                <textarea name="comment" class="textarea-comment fl"></textarea>
                <a href="#" class="a-btn-small btn-create fl" onclick="addComment()">등록</a>
            </div>
            <div class="div-comment-list">
                <ul class="ul-comment-list" th:each="comment : ${comments}">
                    <th:block th:insert="component/comment-item :: commentComponent(${comment})"></th:block>
                </ul>
            </div>
        </div>
        <th:block th:insert="fragment/footer :: footerFragment"></th:block>
    </div>
    <th:block th:replace="fragment/post-modal :: postModalFragment"></th:block>
    <script src="/js/read-post.js"></script>
    <script src="/js/post.js"></script>
    <script src="/js/comment.js"></script>
</body>
</html>